h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
  }
  
  h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
  }
  
  div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
  }
  
  blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
  }
  
  pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
  }
  